<footer class="footer bg-dark p-4 mt-5" id="footer">
    <div class="container text-white ">
        <div class="row mb-3">
            <h1>{% t contact_us.title %}</h1>
        </div>
        <div class="row">
            <div class="col-sm m-1">
                <a href="https://github.com/OKTW-Network" class="btn btn-block btn-primary">{% t contact_us.github %}</a>
            </div>
            <div class="col-sm m-1">
                <a href="https://discord.gg/E74tcJC" class="btn btn-block btn-primary">{% t contact_us.discord %}</a>
            </div>
            <div class="col-sm m-1">
                <a href="https://www.youtube.com/channel/UCO2JQokUTCAv8UEqxxqAOXg" class="btn btn-block btn-primary">{% t contact_us.youtube %}</a>
            </div>
            <div class="col-sm m-1">
                <a href="https://t.me/oktwNetwork" class="btn btn-block btn-primary">{% t contact_us.telegram %}</a>
            </div>
            <div class="col-sm m-1">
                <a href="https://www.facebook.com/groups/oktw.mc/" class="btn btn-block btn-primary">{% t contact_us.facebook_group %}</a>
            </div>
            <div class="col-sm m-1">
                <a href="https://www.facebook.com/oktw.mc/" class="btn btn-block btn-primary">{% t contact_us.facebook_page %}</a>
            </div>
        </div>
    </div>
</footer>
