* {
  font-family: "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC",
    "Helvetica Neue", "Helvetica", "Arial", "Microsoft JhengHei", wf_SegoeUI,
    "Segoe UI", Segoe, "Segoe WP", Tahoma, Verdana, Ubuntu,
    "Bitstream Vera Sans", "DejaVu Sans", Tahoma, 微軟正黑體, "LiHei Pro",
    "WenQuanYi Micro Hei", "Droid Sans Fallback", "AR PL UMing TW", Roboto,
    "Helvetica Neue", "Hiragino Maru Gothic ProN", メイリオ,
    "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", "Noto Sans TC", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

img {
  width: 100%;
}

.footer {
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: url("/assets/img/bg.jpg") no-repeat center center fixed #212529;
  overflow: hidden;
  z-index: -1;
}

.container_background {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.subtitle{
  font-size: 1.25rem;
}

.blur {
  transform: scale(1.2);
  top: -5%;
  left: -5%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.custom-border {
  border: 3px solid rgba(255, 255, 255, 1);
  border-radius: 1rem;
}

.profile_img {
  height:100%;
  border-radius: 50%
}

.profile_img_row {
  padding: 3em;
}

a {
  color: #aad3ff;
  text-decoration: none;
}

a:hover {
  color: #7fbdff;
  text-decoration: underline gray;
}

a.list-group-item.list-group-item-action{
  text-shadow: unset !important;
}

hr {
  background-color: white;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.container-fluid {
  min-height: 100%;
}

.wiki-item{
  background: #f9f9f9 !important;
  color: #000000 !important;
  text-shadow: none !important;
  padding: 2rem;
  height: 90%;
  transition: 0.4s;
}

.wiki-item:hover {
  color: #000000 !important;
  text-decoration: none !important ;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.wiki-a{
  text-decoration: none !important ;
  color: #000000 !important;
}
.wiki-a:hover{
  text-decoration: none !important ;
  color: #000000 !important;
}

.no-shadow{
  text-shadow: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-shadow: 0px 2px 10px #000000;
}

code{
  background: rgba(80, 80, 80, 1);
  padding: 2px;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  .recipe-photo {
    width: 40%;
  }
  .article-photo {
    width: 60%;
  }
  .subtitle {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 599px) {
  .subtitle {
    font-size: 1rem;
  }
}

#card-body {
  position: relative;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 10px;
  box-shadow: 5px 3px 30px black;
  overflow: hidden;
}


#particles-js {
  background-color: rgb(35, 39, 65);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
