* {
    font-family: 'Noto Sans TC', sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #212529;
    background-image: url("/assets/img/bg.jpg")
}

.footer {
    bottom: 0;
    width: 100%;
}

.page-wrapper {
    min-height: 100%;
}

.background {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("/assets/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.container_background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url("/assets/img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
}

.blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.custom-border {
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline gray;
}